nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: DarkSeaGreen;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: DarkGreen;
}

body{
    background-color: Honeydew;
}


h1{
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
    text-align: center;
}

p{
    font-family: 'Oswald', sans-serif;
    border: 7px solid DarkSeaGreen;
        border-width:5px;
        border-style:outset;
        border-radius: 25px;
    background: 5px;
        background-color: Ivory;
    font-size: 25px;
    text-align: center;
    margin: 0px 250px;
}

h2{
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid Honeydew;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: DarkSeaGreen;
}

#logo {
  width: 250px;
}

#footprints {
  height: 500px;
  margin-left: 280px;
  margin-right: 150px;
}

p1{
  font-family: 'Amatic SC', cursive;
  color: black;
  font-size: 30px;
}

#butt1 {
  background-color: Gold;
}
#butt2 {
  background-color: Tomato;
}
#butt3 {
  background-color: CornflowerBlue;
}

.w3-btn {
  background-color: DarkSeaGreen;
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
}

.w3-btn:hover {
  background-color: DarkGreen;
}

#tips{
  color: black;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#form {
    margin-left: 20%;
    background-position: center;
    background-image: url('https://images.pexels.com/photos/56875/tree-dawn-nature-bucovina-56875.jpeg?auto=compress&cs=tinysrgb&h=350');
    background-size: 750px 600px;
    border: 5px solid #000;
    text-align: center;
    max-width: 750px;
    font-size: 30px;
 }

 #radio {
   text-align: left;
   padding-left: 25px;
   color: black;
}

#quote {
  margin-left: 25%;
}
