nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: DarkSeaGreen;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: DarkGreen;
}

body{
    background-color: Honeydew;
}


h1{
    font-family: 'Amatic SC', cursive;
    font-size: 86px;
    text-align: center;
}

p{
    font-family: 'Oswald', sans-serif;
    border: 7px solid DarkSeaGreen;
        border-width:5px;  
        border-style:outset;
    background: 5px;
        background-color: Ivory;
    font-size: 25px;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#form {
    margin-left: 45%;
}

#logo {
    width: 250px;
}

form {
    /*background-image: url(https://images.pexels.com/photos/56875/tree-dawn-nature-bucovina-56875.jpeg?auto=compress&cs=tinysrgb&h=350);
    width: 500px;
    height: 300px;
    border: 5px solid #c3c3c3;
    */
   font-size: 30px;
}
