<html>
	<head>
		<title>Your Impact</title>
	</head>
	<link rel=stylesheet type="text/css" href=/stylesheets/style.css>
	<body>
	{% include 'templates/nav.html' %}
		<p id="about">Welcome to A New Path! We strive to motivate people to be more green by showing them their impact on the environment.
			 Simply taking another mode of transportation rather than driving can make a BIG difference.
			 Our feed page allows users to see other peoples commutes and hopefuly inspire them even more!
			 Leader Board comming soon to start some friendly competition</p>
		<br>
		<h3>About the developers</h3>
		<p>We are a team of three incoming freshman at Boston Univeristy, Texas A&M and University of Califonia at Riverside.
			We built this app after attending an intensive three week program at Google in Pittsburgh Pennsylvania.</p>
	</body>
</html>
