<html>
	<head>
		<title>Your Impact</title>
	</head>
	<link rel=stylesheet type="text/css" href=/stylesheets/style.css>
	<body>
	{% include 'templates/nav.html' %}
		<p>Welcome to A New Path! We strive to motivate people to be more green by showing them their impact on the envioment.
			 Simply taking another mode of transportation rather than driving can make a BIG difference.
			 Our feed page allows users to see other peoples commutes and hopefuly inspire them even more!
			 Leader Board comming soon to start some friendly competion</p>
	</body>
</html>
