<html>
  <head>
    <script>
    // function sendRequest(destinationUrl, callbackFunction, parameters){
    //   var xmlHttp = new XMLHttpRequest(); //use it to send requests browser's brower
    //   xmlHttp.onreadystatechange = function(){ //overriding the method
    //     if(xmlHttp.readyState ==4){
    //       var result = JSON.parse(xmlHttp.responseText); //converting it into an object
    //       if (result.error){
    //         document.write(result.error);
    //       } else{
    //         callbackFunction(result);
    //         }
    //       }
    //     }
    //
    //     var paramString = "";
    //     for(var param in parameters){
    //       paramString += param + "=" + escape(parameters[param]) + "&";
    //     }
    //   xmlHttp.open("POST", destinationUrl);
    //   xmlHttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
    //   xmlHttp.send(paramString);
    // }
    //
    // function handleSend(){
    //   var parameters = new Object();
    //   parameters['text']='text'
    // }
    </script>
  </head>
  <body>
    {% include 'templates/nav.html' %}
      <ul id="feed">
      {% for item in feed %}
          <br>
          <li> {{item.email}} went {{item.distance}} by {{ item.transportation }} at {{item.timestamp}}</li>
          </br>
          <ul id="commentBlock-{{item.key.id()}}">
          {% for comment in comments%}
            {% if comment.logId == item.key.id()|string %}
            <li> {{comment.email}} said {{comment.text}}</li>
            <br>
            {% endif %}
          {% endfor %}
        </ul>
          <form method="post">
            Comment: <br>
            <input id="comment{{item.key.id()}}" type="text" name="text">
            <input type="hidden" name="logId" value="{{item.key.id()}}">
            <input type="submit" value="Enter">
          </form>
      {% endfor %}
      <!-- maybe we could share or show the route that you took this by linking it to another page. ??-->
      </ul>
  </body>
</html>
