<html>
  <head>
    <title>History</title>
  </head>
  <body>
  {% include 'templates/nav.html' %}
    <table style="width:100%">
      <tr>
       <th>Email</th>
       <th>Date</th>
       <th>Distance</th>
       <th>Mode of Transportation</th>
       <th>Pounds of CO2 prevented</th>
       <th>Calories Burned</th>
       <th>Savings</th>
       <th>Comment</th>
      </tr>
      {% for entry in history %}
      <tr>
       <td>{{entry.email}}</td>
       <td>{{entry.timestamp[0:10]}}</td>
       <td>{{entry.distance}}</td>
       <td>{{entry.transportation}}</td>
       <td>{{entry.co2}}</td>
       <td>{{entry.calories}}</td>
       <td>${{entry.cost}}</td>
       <td>{{entry.comment}}</td>
       {% endfor %}
      </tr>
      <tr>
       <td></td>
       <td></td>
       <td>Total {{total_distance}}miles</td>
       <td></td>
       <td>Total {{total_co2}} lbs</td>
       <td>Total {{total_calories}} Cals</td>
       <td>Total ${{total_savings}}</td>
       <td></td>
      </tr>
 </table>
  </body>
</html>
