<html>
  <head>
    <style>

    </style>
  </head>
  <body>
  {% include 'templates/nav.html' %}
    <table style="width:100%">
      <tr>
       <th>Email</th>
       <th>Date</th>
       <th>Distance</th>
       <th>Mode of Transportation</th>
       <th>Pounds for CO2 prevented</th>
       <th>Calories Burned</th>
       <th>Comment</th>
      </tr>
      {% for entry in history %}
      <tr>
       <th>{{entry.email}}</th>
       <th>{{entry.timestamp[0:10]}}</th>
       <th>{{entry.distance}}</th>
       <th>{{entry.transportation}}</th>
       <th>{{entry.co2}}</th>
       <th>{{entry.calories}}</th>
       <th>{{entry.comment}}</th>
       {% endfor %}
      </tr>
 </table>
  </body>
</html>
