<html>
  <head>
    <style>

    </style>
  </head>
  <body>
  {% include 'templates/nav.html' %}
    <!-- <ul id="history">
    {% for item in history %}
        <br>
        <li> {{item.email}} went {{item.distance}} miles by {{ item.transportation }} on {{item.timestamp}}, prevented {{item.co2}} lbs of CO2 from being released, and burned {{item.calories}} Calories.</li>
        </br>
    {% endfor %}
     maybe we could share or show the route that you took this by linking it to another page.
    </ul> -->
    <table style="width:100%">
      <tr>
       <th>Email</th>
       <th>Date</th>
       <th>Distance</th>
       <th>Mode of Transportation</th>
       <th>Pounds for CO2 prevented</th>
       <th>Calories Burned</th>
       <th>Comment</th>
      </tr>
      {% for entry in history %}
      <tr>
       <th>{{entry.email}}</th>
       <th>{{entry.timestamp[0:10]}}</th>
       <th>{{entry.distance}}</th>
       <th>{{entry.transportation}}</th>
       <th>{{entry.co2}}</th>
       <th>{{entry.calories}}</th>
       <th>{{entry.comment}}</th>
       {% endfor %}
      </tr>
 </table>
  </body>
</html>
