<html>
	<head>
		<title>Your Impact</title>
	</head>
	<link rel=stylesheet type="text/css" href=/stylesheets/style.css>
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<body>
	{% include 'templates/nav.html' %}

		<p style="margin: 150px;"> Hey {{email}} you helped saved the world by {{transportation}} for {{distance}} miles. Driving your car would have produced {{co2}} pounds of CO2.		You also burned {{calories}} calories by {{transportation}}. Your comment was: {{comment}}</p>
	</body>
</html>
